/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Dosis', sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 500px;
}
/* MENU */
.nav-bar {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.5rem;
}
.nav-bar a {
  font-size: 1rem;
  padding: 0.5rem 0;
  text-decoration: none;
  color: darkgray;
}
.nav-bar a:hover {
  color: #fe5f55;
}
div.logo {
  text-align: center;
  margin: 1rem;
  font-size: 2rem;
}
div.logo span {
  color: #fe5f55;
  font-weight: bold;
}
main {
  margin: 0.5rem;
  padding: 0.5rem;
}
section.banner {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e7e4e4;
  padding: 1rem;
}
section.banner img {
  border-radius: 50%;
  max-width: 30%;
  height: auto;
  display: block;
  margin: 0 auto;
}
section.banner h3 {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 0;
}
section.banner p {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.5rem;
}
section.skills {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
section.skills h3 {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 0;
}
section.skills p {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.5rem;
}
section.skills div {
  padding: 1rem 0;
  text-align: center;
}
